@import "./no-class/no-class";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  padding-bottom: 0;
  @media (max-width: 40em) {
    li {
      text-align: left;
      &:last-child {
        border-bottom: 0;
      }
      a {
        padding-left: 0;
      }
    }
  }
  &__nav {
    @media (min-width: 40em) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    a {
      text-decoration: none;
    }
  }
}

section {
  h1 {
    @include font-size($noclass-heading-size-2);
  }
}

@media (min-width: 40em) {
  .foreningen,
  .boparm,
  .nyhetsbrev,
  .styrelsen {
    display: flex;

    margin-bottom: 2em;
    &__title {
      flex: 1;
    }
    &__content {
      flex: 2;

      padding-top: 1em;
    }

    ul {
      padding-left: 0;
      list-style-type: none;
    }
  }
}

.presentation_image {
  margin-top: 1em;
  @media (min-width: 40em) {
    max-width: 66%;
    margin: 3em 0 2em;
  }
}

.board {
  padding-left: 0;
  margin-top: 3em;

  list-style-type: none;
  li {
    margin-bottom: 2em;
    @media (min-width: 40em) {
      display: flex;
      flex-direction: row;
    }
  }
  &__name {
    @include font-size($noclass-heading-size-4);
  }
  &__name,
  &__role,
  &__email {
    display: block;
  }
  &__email {
    @media (min-width: 40em) {
      flex: 1;

      text-align: right;
    }
  }
}
